// Typography

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: $color-text;
}

a {
  color: $color-primary;
}

.text--regular {
  font-size: 1rem;
}

// Headings
.heading {
  font-weight: 700;
  letter-spacing: 0.075em;
  text-rendering: optimizeLegibility;
}

  .heading--large {
      font-size: 1.7rem;
  }

  .heading--medium {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
  }

  .heading--small {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }

  .heading--x-small {
      font-size: .9rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }

  .heading--xx-small {
      font-size: .8rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }
