
// Layout

// Set border-box on all elements
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


html,
body {
  background-color: #1A0D37;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.svg-container {
	display: block;
	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}


.border {
  padding: 4px;
  box-shadow: 0 0 0 2px #AD8745 inset;
  position: relative;

  &::before {
    border: 2px solid #AD8745;
    border-top-color:transparent;
    border-left-color:transparent;
    border-radius: 0 0 16px 0;
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 16px; height: 16px;
    content: '';
    box-sizing:border-box;
  }
  &::after {
    border: 2px solid #AD8745;
    border-top-color:transparent;
    border-right-color:transparent;
    border-radius: 0 0 0 16px;
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 16px; height: 16px;
    content: '';
    box-sizing:border-box;
  }

  .border__inner {
    padding: 0;
    border: 1px solid #AD8745;

    &::before {
      border: 2px solid #AD8745;
      border-bottom-color:transparent;
      border-left-color:transparent;
      border-radius: 0 16px 0 0;
      display: block;
      position: absolute;
      bottom: 0; left: 0;
      width: 16px; height: 16px;
      content: '';
      box-sizing:border-box;
      z-index: 3;
    }
    &::after {
      border: 2px solid #AD8745;
      border-bottom-color:transparent;
      border-right-color:transparent;
      border-radius: 16px 0 0 0;
      display: block;
      position: absolute;
      bottom: 0; right: 0;
      width: 16px; height: 16px;
      content: '';
      box-sizing:border-box;
      z-index: 2;
    }
  }

}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 80px;

  @media (min-width: 800px) and (max-width: 1560px) {
    padding: 220px 80px 0px 80px;
  }
  @media (max-width: 799px) {
    padding: 150px 20px 0px 20px;
  }

  &.rsvp {
    max-width: 720px;
  }
}

.box-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  .row {
    position: relative;
  }

  img {
    max-width: 100%;
  }

  a {
    margin-top: 24px;
  }

  h2 {
    max-width: 320px;
  }
}

.box-wrapper.box--footer,
.box-wrapper.box--rsvp {
  max-width: 100%;
  font-family: 'Quattrocento', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;



  p {
    margin-left: 24px;
    font-weight: 700;

    span {
      font-weight: 400;
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    p {
      margin-left: 0;
      text-align: center;
    }
  }
}

.box-wrapper.box--rsvp {
  flex-direction: column;
  padding: 80px 0;

  p {
    margin: 0;
    letter-spacing: 4px;
  }

}

.box-wrapper.box--footer {
  width: 520px;
  margin: 240px auto 0;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }

  img {
    margin-right: 24px;
  }
}



@media (min-width: 800px) {
  .overlap-bottom-120 {
    margin-bottom: -0.5rem;
  }
}
@media (max-width: 799px) {
  .overlap-bottom-120 {
    margin-bottom: -10px;
  }
}

.content {
  max-width: 400px;

  &.-left {
    float: right;
    text-align: right;

    h2 {
      display: inline-block;
    }
  }

  @media (max-width: 767px) {
    text-align: center;

    &.-left {
      text-align: center;
      float: none;
    }
  }
}

.container {
  width: 100%;
  max-width: 100%;

  @media (max-width: 1449px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1450px) {
    padding-left: 62px;
    padding-right: 62px;
  }

  @media (max-width: 799px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  > .col {
    flex-basis: 50%;
    padding-bottom: 80px;
    padding: 0 16px;

    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 48px;
    }
  }

  .col--image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-black {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  width: 5000px;
  background: #1F1040;
  top: 130px;

  &.-right {
    right: 25%;
  }

  &.-left {
    left: 25%;
  }
}

.bg-wrapper {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 75%;
  z-index: -3;

  @media (min-width: 800px) {
    margin: 0 -80px 80px;
  }

  @media (max-width: 799px) {
    margin: 0 -20px 20px;
  }
}

.bg-wrapper__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}


.rsvp {
  .container {
    padding-top: 100px;
    padding-bottom: 40px;
    border-bottom: 1px solid #AD8745;

    h1,
    p,
    h2 {
      text-align: center;
      font-family: 'Quattrocento', sans-serif;
      letter-spacing: 5px;
      margin: 0;
    }

    h1 {
      font-size: 5rem;

      &::after {
        content: " ";
        position: absolute;
        left: 50%;
        display: block;
        height: 2px;
        width: 20%;
        margin-left: -10%;
        background-color: #AD8745;
      }
    }

    p {
      margin: 24px auto 8px;
    }

    h2 {
      font-size: 2rem;
    }

  }

  .col:first-child {
    padding-left: 0;
  }

  .col:last-child {
    padding-right: 0;
  }

  @media (max-width: 710px) {
    .col {
      padding: 0;
    }
  }
}

.rsvp-submit {
  text-align: right;
}
