// Typography

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  color: $color-text;
}

a {
  color: $color-primary;
}

.text--regular {
  font-size: 1rem;
}

// Headings
.heading {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-rendering: optimizeLegibility;
}


  .heading--large {
    font-size: 3rem;
    line-height: 1;
    margin:0 0 2.25rem;
  }

  .heading--medium {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
  }

  .heading--small {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }

  .heading--x-small {
      font-size: .9rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }

  .label,
  .heading--xx-small {
      font-size: .8rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
  }

  .label {
    line-height: 36px;
    border: 1px solid #AD8745;
    padding: 0 24px;
    height: 36px;
    display: inline-block;
    margin: 0 0 1.5rem;
  }

  .scroll-down {
    display: inline-block;
    height: 60px;
    width: 60px;

    &:hover {
      span {
        height: 60px;
      }
    }

    span {
      position: absolute;
      top: 0;
      left: 50%;
      height: 42px;
      width: 1px;
      background: #AD8745;
      display: block;
      transition: height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    span::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 2px;
      left: -50%;
      margin: 0;
      padding: 0;
      width: 13px;
      height: 13px;
      border-top: 1px solid #AD8745;
      border-right: 1px solid #AD8745;
      transform: rotate(135deg);
      margin-left: -5px;
    }
  }
