:local(.wrapper) {
  position: relative;
  overflow: hidden;
  z-index: -3;

  @media (min-width: 800px) {
    height: 80vh;
    margin: 0 -80px;
  }

  @media (max-width: 799px) {
    height: 380px;
    margin: 0 -20px;
  }

  @media (max-width: 543px) {
    height: 280px;
  }

}

:local(.bg) {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url('./separator.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

