// Responsive Breakpoint Mixin

// Breakpoints
$breakpoints: (
    xsmall: 0,
    small: 420px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

@mixin breakpoint($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        @media only screen and (min-width: $value) {
            @content;
        }
    }
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin font-size($sizeValue) {
  $value: strip-unit($sizeValue);

  font-size: $value + px;
  font-size: ($value / 16 ) + rem;
}


@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value/16}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}
