:local(.root) {
  position: relative;

  .scroll-down {
    position: absolute;
    bottom: -40px;
    left: 37.5%;
    margin-left: -30px;
  }
}


:local(.rsvp) {
  margin-left:50%;
  margin-bottom: 80px;
  font-size: 0.875rem;

  a {
    margin-top: 24px;
  }
}
