:local(.btn) {
  display: inline-block;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4px;
  border: 1px solid #40382e;
  color: #f3e5b1;
  transition: padding 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-weight: 700;
  background: none;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border: 1px solid #40382e;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  @media (min-width: 992px) {
    padding: 25px 36px 15px 28px;
    font-size: 14px;

    &::before,
    &::after {
      transform: translateX(-8px) translateY(8px);
    }

    &:hover {
      padding: 20px 32px 20px 32px;
      border-color: transparent;
    }

    &:hover::before,
    &:hover::after {
      transform: translateX(0px) translateY(0px);
      border-color: #f3e5b1;
    }
  }


  @media (max-width: 991px) {
    padding: 22px 26px 14px 20px;
    font-size: 12px;

    &::before,
    &::after {
      transform: translateX(-6px) translateY(6px);
    }

    &:hover {
      padding: 18px 24px 18px 24px;
      border-color: transparent;
    }

    &:hover::before {
      transform: translateX(0px) translateY(0px);
      border-color: #f3e5b1;
    }
  }
}
