// Settings

// Typography
$font-family: 'Quattrocento Sans', sans-serif;


// Colors
$color-gray: #F5F5F5;
$color-black: #000;
$color-white: #ffffff;

// Palette
$color-primary: #AD8745;
$color-secondary: #615845;
$color-text: $color-primary;

// Animation
$default-transition-speed: 200ms;
$default-transition-ease: ease-in;


// Z-index
$z0 : 0;
$z1 : 10;
$z2 : 20;
$z3 : 30;
$z4 : 40;
$z5 : 50;
